.rel-select{
    color: #333;
}
.portraits{
}
.portraits img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 200px;
    border: 10px ridge goldenrod;
    border-radius: 100%;
}
.characters{
    text-align: center;
}
.chara{
    display: none;
    margin: auto;
}
/*#taka{
    position: relative;
    display: none;
    width: 100%;
}
#taka img{
    height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px ridge goldenrod;
    border-radius: 100%;
    border-image: url(../img/cadre.png) 30 stretch;
}*/