@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('../font/Arizonia-Regular.ttf');
}
body{
    margin-top: 100px;
    background-image: url('../img/earth2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #eee;
}
header{
    font-family: 'AlexBrush-Regular';
    text-align: center;
    color: #fff;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    /*padding: 0.5em;
    background-color: #000000;
    border-radius: 50%;
    background-image: radial-gradient(white, black);
    width: 80%;
    box-shadow: 0 0.5em 0.5em #000000;*/
}
#main-title{
    /*    text-decoration: underline;*/
    text-shadow: -10px 0 7px rgba(0, 0, 0, 1), 
        10px 0 7px rgba(0, 0, 0, 1),
        0 -10px 7px rgba(0, 0, 0, 1),
        0 10px 7px rgba(0, 0, 0, 1);
}
.container{
    display: flex;
    width: 100%;
}

#top-bar{
    box-shadow: -3px 0 3px rgba(255, 255, 255, 0.8), 
        3px 0 3px rgba(255, 255, 255, 0.8),
        0 -3px 3px rgba(255, 255, 255, 0.8),
        0 3px 3px rgba(255, 255, 255, 0.8);
    background-color: #FFF;
    color: #666;
    border-radius: 3px;
    /*text-align: right;*/
}
/*.btn{
    border-radius: 0;
}*/
.modal-content .modal-header{
    background-color: #222;
}
#welcome{
    float: right;
    margin: 10px;
}
#main-window{
    box-shadow: -3px 0 3px rgba(255, 255, 255, 0.8), 
        3px 0 3px rgba(255, 255, 255, 0.8),
        0 -3px 3px rgba(255, 255, 255, 0.8),
        0 3px 3px rgba(255, 255, 255, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    height: auto;
}
h2{
    font-size: 30px;
    margin-bottom: 40px;
}
div[id="intro"] p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-indent: 30px;
}
/*#Noya{
    height: 25em;
    border-radius: 50%;
    display: block;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}*/
footer{
    box-shadow: -3px 0 3px rgba(255, 255, 255, 0.8), 
        3px 0 3px rgba(255, 255, 255, 0.8),
        0 -3px 3px rgba(255, 255, 255, 0.8),
        0 3px 3px rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-top: 20px;
    bottom: 0;
    padding: 10px;
    text-align: center;
}
/*#btn-lien{
    font-family: 'cursive';
    font-size: 1em;
    text-decoration: none;
    color: #FF0000;
    border: solid #A101FE;
    text-align: center;
    padding: 0.7em;
    border-radius: 45%;
    display: inline-block;
    background-image: linear-gradient(135deg, #FFF, #00F0FF 80%);
    box-shadow: 0 0.3em 0.5em #000 inset met l'ombre à l'intérieur du bloc;
    text-shadow: 0 0.3em 0.2em #000;
}*/
@media screen and (max-width: 767px){
    #main-window{
        padding: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    #main-window{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}